
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddEmployee</title>
</head>
<body>
    <header style="height:200px; background-color:blue;" ><h2>this is header</h2></header>


    <div>
        <h3>this is my Add Employee  page </h3>
        
    </div>
   
    <footer style="height:200px; background-color:blue;"><h3>this is footer</h3></footer>
    <div> 
    </div>
</body>
</html>
